USE [yazilim_yapimi]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8.06.2025 22:21:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nchar](30) NULL,
	[password] [varchar](64) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Words]    Script Date: 8.06.2025 22:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Words](
	[wordID] [int] IDENTITY(1,1) NOT NULL,
	[engWordName] [nchar](50) NULL,
	[turWordName] [nchar](50) NULL,
	[picturePath] [nvarchar](255) NULL,
 CONSTRAINT [PK_Words] PRIMARY KEY CLUSTERED 
(
	[wordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WordSamples]    Script Date: 8.06.2025 22:21:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WordSamples](
	[wordSamplesID] [int] IDENTITY(1,1) NOT NULL,
	[wordID] [int] NULL,
	[samples] [nchar](255) NULL,
 CONSTRAINT [PK_WordSamples] PRIMARY KEY CLUSTERED 
(
	[wordSamplesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([userID], [userName], [password]) VALUES (1, N'melisa123                     ', N'YuuG8gao')
INSERT [dbo].[Users] ([userID], [userName], [password]) VALUES (2, N'beyda123                      ', N'beyda123')
INSERT [dbo].[Users] ([userID], [userName], [password]) VALUES (3, N'zerenn                        ', N'zerenn')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Words] ON 

INSERT [dbo].[Words] ([wordID], [engWordName], [turWordName], [picturePath]) VALUES (1, N'Bee                                               ', N'Arı                                               ', N'C:\\Users\\kinay\\OneDrive\\Desktop\\Y.YapımıFoto\3b34f309-e99a-4e21-954c-11d3dede63c1.jpg')
INSERT [dbo].[Words] ([wordID], [engWordName], [turWordName], [picturePath]) VALUES (2, N'Dog                                               ', N'Köpek                                             ', N'C:\\Users\\kinay\\OneDrive\\Desktop\\Y.YapımıFoto\pexels-rkjajoria-1189673.jpg')
INSERT [dbo].[Words] ([wordID], [engWordName], [turWordName], [picturePath]) VALUES (3, N'Cat                                               ', N'Kedi                                              ', N'C:\\Users\\kinay\\OneDrive\\Desktop\\Y.YapımıFoto\pexels-pixabay-45201.jpg')
SET IDENTITY_INSERT [dbo].[Words] OFF
GO
SET IDENTITY_INSERT [dbo].[WordSamples] ON 

INSERT [dbo].[WordSamples] ([wordSamplesID], [wordID], [samples]) VALUES (1, 1, N'Bee is a animal                                                                                                                                                                                                                                                ')
INSERT [dbo].[WordSamples] ([wordSamplesID], [wordID], [samples]) VALUES (2, 1, N'Arı bir hayvandır.                                                                                                                                                                                                                                             ')
INSERT [dbo].[WordSamples] ([wordSamplesID], [wordID], [samples]) VALUES (3, 1, N'My bee stepped on a dog                                                                                                                                                                                                                                        ')
GO
SET IDENTITY_INSERT [dbo].[WordSamples] OFF
GO
